.expense-list {
  margin-top: 30px;
}

.expense-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.expense-item:last-child {
  border-bottom: none;
}

.expense-item h3 {
  margin: 0;
  font-size: 18px;
}

.expense-item p {
  margin: 5px 0;
}
